@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-2">
            <h5> <span> <i>@userName</i></span></h5>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string userName = "Usuario desconocido";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
            if (user.Identity.Name.Contains("@"))
                userName = user.Identity.Name.Split(char.Parse("@"))[0] ?? "Sin nombre";
            else
                userName = user.Identity.Name;

            AppState.UserName = userName;
            AppState.lClientes =  _context.dimClientes.OrderBy(o => o.nombre).ToList();
            AppState.lAreaFuncional = _context.dimAreaFuncional.OrderBy(o => o.nombre).ToList();
            AppState.lPatentes = _context.dimPatentes.OrderBy(o => o.nombre).ToList();
            AppState.lProductos = _context.dimProductos.OrderBy(o => o.nombre).ToList();
        }
    }
}